html, body {
	height:100%;
	background-image:url(../bilder/hundewiese.jpg);
	padding:0px;
	margin:0px;
}
body {
	margin:0;
	padding:0;
	font-family:'Source Sans Pro', sans-serif;
	font-size:14px;
}
h1 {
	font-size:20px;
}
#wrapper {
	background-color:white;
	padding:0px;
	margin:0px auto;
	padding:0px 0px 0px 0px;
	box-shadow:0px 0px 10px 5px rgba(0,0,0,.2);
}
header {
	width:100%;
	height:200px;
	margin-top:0px;
	margin:0px;
	padding:0px;
	background-color:#c8e3d0;
}
nav {
  overflow-x:hidden;
	background-color:black;
	margin:0px;
	padding:20px 0px 20px 50%;
	font-size:18px;
}
img.logo {
	margin-top:15px;
	margin-left:50px;
}
nav a {
	color:#fff;
	margin:15px;
	padding-top:20px;
}
li {
	display:inline;
	margin-top:80px;
	color:#ffffff;
}	
ul {
	margin:0px;
}
.fullwidth {
	width:100%;
}
.content {
	margin: 0px;
}
.whitetransparent {
	margin: 0px 20% 0px 20%;
	/*opacity: 0.5;*/
	background-color: rgba(255, 255, 255, 0.9);
}
.inhalt {
	width:960px;
	height:400px;
	background-color:yellow;
}
.h1 {
	padding-top: 10px;
}
h1 {
	font-size:25px;
	background-color:gray;
	padding-left:2%;
}

h2{
	padding-left:2%;
}

.drei_spalten{
	width:31%;
	margin-left: 1%;
	margin-right: 1%;
	float:left;
}


.clear_left {
	clear:left;
}
.spalte{
	width:100%;
}
.rand{
	text-align: right;	
}

.content a {
	border: 1px dashed red;
}

.zwei_spaltig{
	width:98%;
	margin-top:20px;
	margin-left: 1%;
	margin-right: 1%;
	float:left;
}
.drei_spalten img.links,
.drei_spalten img.mitte,
.drei_spalten img.rechts {
	width:50%;
	float:left;
	margin:10px;
}

.sp_tierheim{
	float:right;
	width:calc(50% - 20px);
	
}



.bild_links{
	width:64%;
	padding-right: 2%;
}

.bild_rechts,
.bild_rechts{
	width:33%;
}

.zwei_spalten{
	width:100%;
	border: 1px dashed red;		
	float:left;
	background-color:#E7E7E7;

}

.zwei_block{
	width:100%;
	float:left;
	background-color:#E7E7E7;

}

.block_links,
.block_rechts{
	width:42%;
	margin:3%;
	padding-left:2%;
	float:left;
	background-color:#e5e0df;

}
	

img.B_rechts{
	width:98%;
}


.B_rechts{
	
	float:left;
	padding:2%;
		background-color:#D9EBDE;
	
}

.text_links{
	width:58%;
	padding-left:2%;
	float:left;

}
	
.text_rechts{
	margin:2%;
	padding-left:1%;
	width: 35%;
	float:left;
	background-color:#D9EBDE;
}

.B_unten{
	padding-right:2%;
	float:left;
}

.cws img{
	height:100px;
}

.cb img{
	height:260px;
}

.address{
	background-color:gray;
	height:200px;
}
.vier_spalten{
	width:22%;
	margin-left: 1%;
	margin-right: 1%;
	float:left;
}

.hspalte_training{
	width:100%;
	background-color:#e1fbb3;
	clear:both;
}

.welbe,
.junghunde,
.grundgehorsam,
.beschäftigung,
.sportgruppe,
.poroblemhunde{
margin: 20px;	
}



hr.linie_kurz{
	width:20%;
	margin-left: 2%;
		
}

.training{
	width:100%;
	border:1px solid red;
	background-color:gray;
	
}
figure.bildwelpe{
	width:20%
	border:1px solid red;
	
}

figure.bildwelpe img,
figure.bildJhund img,
figure.bildGrund img,
figure.bildProblem img{
	width:22%;
	float:left;
	
	
{
	

section{
	margin:3% 0 3 0;
	padding-left2%;
}

form div {
	width:80%;
	margin-left: 1%;
	margin-right: 1%;
	float:left;
}
form input[type=text] {
	width:100%;
}
form input[type=password] {
	width:100%;
}
form input[type=submit] {
	height:200%;
}
form div.submit {
	width:15%;
}

footer{
	background-color:black;
	height:40px;

}

.clearfix:after{
        content:".";
        clear:both;
        display:block;
        visibility:hidden;
        height:0;
}